<html>
  <head>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main>
        <div class="container">
          <h1 id="title">Todo<span id="inner-title">list</span></h1>
          <h3>A simple todo app built with Node and Vanilla CSS3, JavaScript.</h3>
          <form action="submit" id="form-parent">
            <input type="text" name="todo" id="todo-input" required autocomplete="off">
            <label for="todo" id="label-todo">
              <span id="content-todo">todo</span>
            </label>
          </form>
          <ul id="todo-list"></ul>
      </div>
    </main>
    <footer>Written by Kevin Watke @2021</footer>
    <script  type="module" src="app.js"></script>
  </body>
</html>